.formItemTanggal {
    margin-top: 26px;
}

.buttonForm {
    margin-top: 26px;
}

.containerMarginTop{
    margin-top: 20px;
}

.columnEditable {
    background-color: lightyellow;
    cursor: pointer;
}
.pointerHand {
    cursor: pointer;
}

.dx-drawer-panel-content {
    width: 252px;
}

.cell-middle {
    vertical-align: middle !important;
}

.dx-link.dx-icon-revert {
    color: red;
}

.dx-icon-revert {
    color: red;
}

.dx-icon.dx-icon-revert {
    color:red;
}

.dx-link.dx-icon-check {
    color: deepskyblue;
}

.dx-icon-check {
    color: deepskyblue;
}

.dx-popup-content.dx-datagrid-column-chooser-list{
    max-height: 250px;
}
.dx-popup-content{
    overflow: auto;
}

.dx-toast-message{
    white-space: pre-line;
}

.dx-datagrid-headers .dx-datagrid-text-content {
    text-align: center;
}

.buttonForm .dx-state-disabled{
    opacity: 0.8;
}

.showMoreLabel{
    color: #337ab7 !important;
    cursor: pointer;
}

.editLinkRumahPleno{
    text-decoration: underline !important;
    cursor: pointer;
    margin-left: 20px;
}