

.rb-container {
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 1.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin-left: 3em;
  /* min-height: 50px; */
  border-left: 1px dashed black;
  padding: 0 0 20px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -13px;
  content: "";
  border: 8px solid #5156be;
  border-radius: 500%;
  background: white;
  height: 25px;
  width: 25px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: white;
  background: #a9aeff;
  transition: all 500ms ease-in-out;
}

ul.rb li .timestamp {
  color: black;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}

.item-title {
  color: black;
  font-weight: bold;
}

.disposisi {
    padding: 0 1rem;
    margin: .5rem 0;
    display: inline-block;
}

.attach-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.attach {
    background-color: rgb(209, 209, 209);
    display: inline-block;
    padding: 0.2rem 1rem;
    margin-top: .5rem;
}

.attach i {
    padding-right: .3rem;
}

.faq-table td{
  max-width: 20px;
  overflow: hidden;
}


/* DASHBOARD */


.box-pengaduan-item {
  box-shadow: 10px 3px 17px 0px rgba(186,186,186,0.75);
  -webkit-box-shadow: 10px 3px 17px 0px rgba(186,186,186,0.75);
  -moz-box-shadow: 10px 3px 17px 0px rgba(186,186,186,0.75);
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 1rem .5rem;
  color: white;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-title {
  font-size: 1rem;
}

.box-number {
  font-size: 1.5rem;
}

.box-icon {
  font-size: 3rem;
}

.box-pengaduan-1 .box-pengaduan-item:nth-child(1){
  background-image: linear-gradient(to right top, #4568dc, #7266d2, #8e66c8, #a267bd, #b06ab3);
}
.box-pengaduan-1 .box-pengaduan-item:nth-child(2){
  background-image: linear-gradient(to right top, #36d1dc, #00c2e7, #00b1ef, #0c9def, #5b86e5);
}
.box-pengaduan-1 .box-pengaduan-item:nth-child(3){
  background-image: linear-gradient(to right top, #f857a6, #ff5393, #ff517f, #ff536c, #ff5858);
}
.box-pengaduan-1 .box-pengaduan-item:nth-child(4){
  background-image: linear-gradient(to right top, #e52d27, #d82723, #cc201f, #bf191b, #b31217);
}
.box-pengaduan-2 .box-pengaduan-item:nth-child(1){
  background-image: linear-gradient(to right top, #485563, #404c59, #38434f, #313a45, #29323c);
}
.box-pengaduan-2 .box-pengaduan-item:nth-child(2){
  background-image: linear-gradient(to right top, #005c97, #005499, #0f4c9a, #244298, #363795);
}
.box-pengaduan-2 .box-pengaduan-item:nth-child(3){
  background-image: linear-gradient(to right top, #8e2de2, #8023e1, #7119e1, #600de0, #4a00e0);
}
.box-pengaduan-2 .box-pengaduan-item:nth-child(4){
  background-image: linear-gradient(to right top, #f953c6, #ea45b0, #da389b, #ca2b86, #b91d73);
}


/* Accordion FAQ */

.kategori {
  border: 2px solid rgba(190, 190, 190, 0.4);
  border-left: 10px solid #5b86e5;
  width: 100%;
  display: block;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1rem;
  margin-bottom: .6rem;
}
.childKategori {
  padding-left: 3rem;
}

.topik, .question {
  width: 100%;
  display: block;
  border: 2px solid rgba(190, 190, 190, 0.4);
  padding: .7rem 1rem;
  font-size: 1rem;
  border-radius: .5rem;
  border-left: 10px solid #82e55b;
  margin-bottom: 1rem;
}

.question {
  border-left: 10px solid #975be5;
}

.panah {
  transition: .4s;
}

.rotatePanah {
  transform: rotate(90deg);
}
