/*#gridContainer {
    padding: 10px;
}*/
.modul {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url("/Content/Style/images/ajax-loader.gif") 50% 50% no-repeat;
}

body.loading .modul {
    overflow: hidden;
}

body.loading .modul {
    display: block;
}
