.dx-button-mode-contained.dx-button-success .dx-button-content, .dx-link.dx-link-edit {
    -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    box-shadow: unset;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: unset;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color: #0056b3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Trebuchet MS",'Fira Sans', sans-serif;
    font-size: 13px;
    padding: 6px 20px;
    text-decoration: none;
    min-width: 80px;
    width: 176px;
}

/*div .dx-button-content {
    background-color: #0056b3 !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    border: 1px solid #124d77 !important;
    display: inline-block !important;
    cursor: pointer !important;
    color: #ffffff !important;
    font-family: "Trebuchet MS",'Fira Sans', sans-serif !important;
    font-size: 13px !important;
    padding: 6px 20px !important;
    text-decoration: none !important;
    min-width: 80px !important;
    width: 176px !important;
}*/


/*.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    background: #3366FF;
    color: #fff;
    font-size: 13px;
    padding: 10px 10px;
    font-family: "Trebuchet MS",'Fira Sans', sans-serif;
}*/


@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {
    margin: 0;
    padding: 0;
    border: 0
}

#faqBody {
    text-align: left;
    padding-left: 40px;
}

/*.cd-faq__group {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}*/

span {
    /*padding: 5px;*/
}

h2, .h2 {
    padding-top: 10px;
    font-size: 23px;
}

a.cd-faq__trigger {
    font-size: 17px;
    color: #0056b3;
    text-decoration: none;
    text-align: left;
    padding-bottom: inherit;
    padding-top: inherit;
    padding-right: 60px;
}

.btn {
    /*width: 250px;*/
    margin: 10px;
    border: 2px solid #155799;
    padding-bottom: 8px;
    padding-top: 8px;
    /*padding: 10px;*/
    /*padding: 6px 24px;*/
    font-size: 1.15em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #155799;
    background-color: #F1F2F2;
    transition: all 0.25s ease-in-out;
    white-space: normal;
}

    .btn:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        /*background-color: #155799;
        border-color: #155799;*/
        color: #F1F2F2;
    }

    .btn:active {
        background-color: #155799;
        border-color: #155799;
        color: #F1F2F2;
        box-shadow: none;
    }

    /*.btn:focus, .btn:active:focus {
        background-color: #155799;
        border-color: #155799;
        color: #F1F2F2;
        outline: 5px auto #155799;
    }*/

    .btn:visited {
        /*background-color: #155799;
        border-color: #155799;*/
    }

ol, ul {
    list-style: none
}

.cd-faq {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
    box-shadow: var(--shadow-sm);
    max-width: -webkit-fill-available;
    min-width: -moz-available;
    min-width: -ms-available;
    max-width: -ms-available;
}

.container {
    width: calc(100% - 1.25em);
    width: calc(100% - 2*var(--component-padding));
    margin-left: auto;
    margin-right: auto
}

:root {
    --space-unit: 0.5em;
    --space-xxxxs: calc(0.125*var(--space-unit));
    --space-xxxs: calc(0.25*var(--space-unit));
    --space-xxs: calc(0.375*var(--space-unit));
    --space-xs: calc(0.5*var(--space-unit));
    --space-sm: calc(0.75*var(--space-unit));
    --space-md: calc(1.25*var(--space-unit));
    --space-lg: calc(2*var(--space-unit));
    --space-xl: calc(3.25*var(--space-unit));
    --space-xxl: calc(5.25*var(--space-unit));
    --space-xxxl: calc(8.5*var(--space-unit));
    --space-xxxxl: calc(13.75*var(--space-unit));
    --component-padding: var(--space-md)
}

/*yang membuat warna hilang semuaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
:root {
    --cd-color-1: hsl(213, 7%, 33%);
    --cd-color-1-h: 213;
    --cd-color-1-s: 7%;
    --cd-color-1-l: 33%;
    --cd-color-2: hsl(73, 46%, 55%);
    --cd-color-2-h: 73;
    --cd-color-2-s: 46%;
    --cd-color-2-l: 55%;
    --cd-color-3: hsl(210, 14%, 49%);
    --cd-color-3-h: 210;
    --cd-color-3-s: 14%;
    --cd-color-3-l: 49%;
    --cd-color-4: hsl(0, 0%, 100%);
    --cd-color-4-h: 0;
    --cd-color-4-s: 0%;
    --cd-color-4-l: 100%;
    --font-primary: 'Open Sans', sans-serif
}


.cd-faq::before {
    content: 'mobile';
    display: none
}

@media (min-width: 64rem) {
    .cd-faq {
        position: relative;
        box-shadow: none;
        display: -ms-flexbox;
        display: flex
    }

        .cd-faq::before {
            content: 'desktop'
        }
}

@media (min-width: 64rem) {
    .cd-faq__categories {
        position: -webkit-sticky;
        position: sticky;
        -ms-flex-item-align: start;
        align-self: flex-start;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        top: 20px;
        width: 20%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
        box-shadow: var(--shadow-sm);
        margin-top: 1.25em;
        margin-top: var(--space-md)
    }
}

@media (min-width: 80rem) {
    .cd-faq__categories {
        width: 200px
    }
}

.cd-faq__category {
    position: relative;
    display: block;
    font-size: 15px;
    padding: 5px;
    /*padding-top: 7px;
    padding-bottom: 5px;*/
    /*height: 50px;
    line-height: 50px;*/
    /*padding: 0 2em 0 1.05em;
    padding: 0 var(--space-lg) 0 calc(var(--space-sm)*1.4);*/
    /*color: hsl(0, 0%, 100%);
    color: var(--cd-color-4);*/
    /*background-color: hsl(213, 7%, 33%);
    background-color: var(--cd-color-1);*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*--border-color: hsl(213, 7%, 36.3%);
    --border-color: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*1.1));
    border-bottom: 1px solid hsl(213, 7%, 36.3%);
    border-bottom: 1px solid var(--border-color)*/
}

    .cd-faq__category::before, .cd-faq__category::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        display: inline-block;
        height: 1px;
        width: 10px;
        background-color: hsl(213, 7%, 52.8%);
        background-color: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*1.6))
    }

@media (min-width: 64rem) {

    .cd-faq__category::before, .cd-faq__category::after {
        display: none
    }
}

@media (min-width: 80rem) {
    .cd-faq__category::before {
        /*display: block;*/
        top: 0;
        right: auto;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: red;
        /*background-color: hsl(73, 46%, 55%);
        background-color: var(--cd-color-2);*/
        opacity: 0;
        transition: opacity .2s
    }
}

@media (min-width: 80rem) {

    .cd-faq__category-selected:hover {
        /*background: hsl(213, 7%, 26.4%);
        background: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*0.8))*/
    }

    .cd-faq__category-selected::before {
        opacity: 1
    }
}

@media (min-width: 64rem) {
    .cd-faq__items {
        position: static;
        height: auto;
        width: auto;
        -ms-flex-positive: 1;
        flex-grow: 1;
        overflow: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        padding: 0 0 0 0.75em;
        padding: 0 0 0 var(--space-sm);
        background: transparent
    }
}

.cd-faq__title {
    color: #78828D;
    /*margin: 0.5em 0;*/
    /*margin: var(--space-md) 0*/
}

@media (min-width: 64rem) {
    .cd-faq__item {
        background: hsl(0, 0%, 100%);
        background: var(--cd-color-4);
        margin-bottom: 0.25em;
        /*margin-bottom: var(--space-xxxs);*/
        box-shadow: 0 1px 2px rgba(0,0,0,0.08);
        transition: box-shadow .2s
    }
}

.cd-faq__trigger {
    display: block;
    position: relative;
    margin: 1.25em 0 0.5em;
    margin: var(--space-md) 0 var(--space-xs);
    /*color: hsl(73, 46%, 55%);
    color: var(--cd-color-2)*/
}

@media (min-width: 64rem) {
    .cd-faq__trigger {
        font-weight: 300;
        margin: 0;
        padding: 0.2em 2em 0.2em 0.2em;
        /*padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-sm)*/
    }

        .cd-faq__trigger::before, .cd-faq__trigger::after {
            content: '';
            position: absolute;
            right: 24px;
            top: 50%;
            height: 2px;
            width: 13px;
            background: #0056b3;
            /*background: hsl(73, 46%, 71.5%);
        background: hsl(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*1.3));*/
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: -webkit-transform .2s;
            transition: transform .2s;
            transition: transform .2s, -webkit-transform .2s
        }

        .cd-faq__trigger::before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            right: 32px
        }

        .cd-faq__trigger::after {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }

    .cd-faq__item-visible .cd-faq__trigger::before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .cd-faq__item-visible .cd-faq__trigger::after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

.cd-faq__content p {
    font-size: 15px;
    padding-left: 7px;
    padding-right: 60px;
    color: hsl(210, 14%, 49%);
    color: var(--cd-color-3)
}

@media (min-width: 64rem) {
    .cd-faq__content {
        display: none;
        padding: 0 0.75em;
        padding: 0 var(--space-sm);
        overflow: hidden
    }

        .cd-faq__content .text-component {
            font-size: 0.75em;
            padding-bottom: 0.2em;
            /*padding-bottom: var(--space-md);*/
            text-align: justify;
        }
}

.cd-faq__content--visible {
    display: block
}

@media (min-width: 64rem) {
    .cd-faq__close-panel {
        display: none
    }
}
